
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #8B2C2A;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #8B2C2A;
  color: #2b2c36;
  
}

footer{
  background-color: #8B2C2A;
  height: 100px;
}

.subh2 {
  border-bottom: 2px #8B2C2A solid;
}
/* === HEADER / CONTACT SECTION === */

#contact-container {
  position: relative;
  height: 450px;
  background: radial-gradient(#D9C6A3, #A68D6E);
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 85%,
    98.75% 80%, 97.5% 85%, 96.25% 80%,
    95% 85%, 93.75% 80%, 92.5% 85%,
    91.25% 80%, 90% 85%, 88.75% 80%,
    87.5% 85%, 86.25% 80%, 85% 85%,
    83.75% 80%, 82.5% 85%, 81.25% 80%,
    80% 85%, 78.75% 80%, 77.5% 85%,
    76.25% 80%, 75% 85%, 73.75% 80%,
    72.5% 85%, 71.25% 80%, 70% 85%,
    68.75% 80%, 67.5% 85%, 66.25% 80%,
    65% 85%, 63.75% 80%, 62.5% 85%,
    61.25% 80%, 60% 85%, 58.75% 80%,
    57.5% 85%, 56.25% 80%, 55% 85%,
    53.75% 80%, 52.5% 85%, 51.25% 80%,
    50% 85%, 48.75% 80%, 47.5% 85%,
    46.25% 80%, 45% 85%, 43.75% 80%,
    42.5% 85%, 41.25% 80%, 40% 85%,
    38.75% 80%, 37.5% 85%, 36.25% 80%,
    35% 85%, 33.75% 80%, 32.5% 85%,
    31.25% 80%, 30% 85%, 28.75% 80%,
    27.5% 85%, 26.25% 80%, 25% 85%,
    23.75% 80%, 22.5% 85%, 21.25% 80%,
    20% 85%, 18.75% 80%, 17.5% 85%,
    16.25% 80%, 15% 85%, 13.75% 80%,
    12.5% 85%, 11.25% 80%, 10% 85%,
    8.75% 80%, 7.5% 85%, 6.25% 80%,
    5% 85%, 3.75% 80%, 2.5% 85%,
    1.25% 80%, 0% 85%
  );
  overflow: hidden;
}

/* === FOND EN PLUMES + VIGNETTE === */

#pattern-container {
margin-top: 100;
  position: relative;
  overflow: hidden;
}

#contact-pattern {
  background-image: url('/images/feather_bg.svg');
  background-size: 100px 100px;
  background-repeat: repeat;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: pan 100s linear infinite;
  z-index: 0;
}

@keyframes pan {
  from { background-position: 0% 0%; }
  to   { background-position: 100% 0%; }
}

#contact-vignette {
  background: linear-gradient(circle, transparent 75%, #524336);
  position: absolute;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
}

/* === CONTENU HEADER === */

#contact-content {
    padding: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#contact-content h1 {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  color: #F9F5ED;
  text-transform: uppercase;
  text-shadow: 0px 2px #2b2c36;
  margin-bottom: 16px;
}

#contact-img {
  margin-bottom: 16px;
}

#contact-img img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px dotted #F9F5ED;
  border-bottom: 5px solid #F9F5ED;

}

/* === LANGUAGES === */

#flags-container {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.flags-btn img {
  height: 25px;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

/* === CONTACT ICONS === */

#contact-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.icons img {
  height: 30px;
  width: auto;
  transition: transform 0.2s ease;
}

.icons img:hover {
  transform: scale(1.1);
  filter: invert(19%) sepia(29%) saturate(4820%) hue-rotate(343deg) brightness(91%) contrast(84%);

}


#cv-container {
    position: relative;
    background-color: #eae7dc;
    border-top: #8B2C2A dashed 10px;
    border-bottom: #8B2C2A dashed 10px;
    padding: 5px;


}
#cv-pattern {
    background-image: url('/images/stacked-steps-haikei.svg');
    background-repeat: repeat;
    opacity: .2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: cvpan 100s linear infinite;
    z-index: 0;
}
#cv-content {
    padding: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    text-align: left;
}
#cv-content p{
    margin-top: 8px ;
    text-align: justify;

}
#cv-content h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #524336;
    margin-top: 20px;

}

#cv-content::before {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 72px;
    color: #292929;
    position: absolute;
    top: 0%;
    left: 0%;

    content: "“";
}

#cv-content::after {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 72px;
    color: #292929;
    content: "”";
    position: absolute;
    bottom: -25px;
    right: 0%;
}
@keyframes cvpan {
    from { background-position: 100% 0%; }
    to   { background-position: 0% 0%; }
  }

  @media (max-width: 450px) {
    #contact-container {
      clip-path: polygon(
        0% 0%, 100% 0%, 100% 85%,
        90% 80%, 80% 85%, 70% 80%,
        60% 85%, 50% 80%, 40% 85%,
        30% 80%, 20% 85%, 10% 80%,
        0% 85%
      );
    }
    #contact-pattern {
        animation: pan 25s linear infinite;
    }
    #cv-content {
        padding: 0px 50px 5px 50px;
        position: relative;
        z-index: 2;
        display: flex;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
        text-align: left;
    }
    #cv-content h2 {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 24px;
        text-transform: uppercase;
        color: #524336;
        margin-top: 5px;
    
    }
  }
