/* === 1. Base typographique & Réinitialisation === */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

/* === 2. Typographie globale === */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F5F0E1;
  color: #D9C6A3;
}

strong {
  font-family: 'EB Garamond', serif;
  color: #3E9CCC;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #2b2c36;
}

.subh2 {
  border-bottom: 2px #3E9CCC solid;
  color: #D9C6A3;
  margin-top: 36px;
  font-family: 'EB Garamond', serif;
  font-size: 2.6rem;
  text-transform: uppercase;
  padding: 8px 48px 8px 16px;
  min-height: 56px;
  line-height: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* === 3. Éléments globaux & Liens === */
button {
  all: unset;
}

#cv-content a {
  text-decoration: none;
  color: #3E9CCC;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: transform 0.2 ease;
}

#cv-content a:hover {
  color: #ea413e;
}

/* === 4. En-tête et pied de page === */
header {
  height: 100vh;
}

footer {
  background-color: #2B2C36;
  height: 100px;
}

/* === 5. Utilitaires d'affichage === */
.hidden-on-desktop {
  display: none;
}

.hidden-on-mobile {
  display: block;
}

.hidden {
  display: flex;
  flex-direction: column;
  filter: blur(5px);
  transform: translateY(-100%);
  opacity: 0;
  transition: all 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.content {
  transition: all 1s ease;
}

.content.show:nth-child(1) { transition-delay: 100ms; }
.content.show:nth-child(2) { transition-delay: 150ms; }
.content.show:nth-child(3) { transition-delay: 200ms; }
.content.show:nth-child(4) { transition-delay: 250ms; }
.content.show:nth-child(5) { transition-delay: 300ms; }

/* === 6. SECTION HEADER / CONTACT === */
#contact-container {
  position: relative;
  height: 350px;
  background: radial-gradient(#7c809d, #4A4E69);
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 94%,
    98.75% 93%, 97.5% 94%, 96.25% 93%,
    95% 94%, 93.75% 93%, 92.5% 94%,
    91.25% 93%, 90% 94%, 88.75% 93%,
    87.5% 94%, 86.25% 93%, 85% 94%,
    83.75% 93%, 82.5% 94%, 81.25% 93%,
    80% 94%, 78.75% 93%, 77.5% 94%,
    76.25% 93%, 75% 94%, 73.75% 93%,
    72.5% 94%, 71.25% 93%, 70% 94%,
    68.75% 93%, 67.5% 94%, 66.25% 93%,
    65% 94%, 63.75% 93%, 62.5% 94%,
    61.25% 93%, 60% 94%, 58.75% 93%,
    57.5% 94%, 56.25% 93%, 55% 94%,
    53.75% 93%, 52.5% 94%, 51.25% 93%,
    50% 94%, 48.75% 93%, 47.5% 94%,
    46.25% 93%, 45% 94%, 43.75% 93%,
    42.5% 94%, 41.25% 93%, 40% 94%,
    38.75% 93%, 37.5% 94%, 36.25% 93%,
    35% 94%, 33.75% 93%, 32.5% 94%,
    31.25% 93%, 30% 94%, 28.75% 93%,
    27.5% 94%, 26.25% 93%, 25% 94%,
    23.75% 93%, 22.5% 94%, 21.25% 93%,
    20% 94%, 18.75% 93%, 17.5% 94%,
    16.25% 93%, 15% 94%, 13.75% 93%,
    12.5% 94%, 11.25% 93%, 10% 94%,
    8.75% 93%, 7.5% 94%, 6.25% 93%,
    5% 94%, 3.75% 93%, 2.5% 94%,
    1.25% 93%, 0% 94%
  );
  z-index: 1;
  overflow: hidden;
}

#pattern-container {
  margin-top: 100;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
}

#contact-pattern {
  background-image: url('/images/feather_bg.svg');
  background-size: 100px 100px;
  background-repeat: repeat;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: pan 350s linear infinite;
  z-index: 0;
}

#contact-vignette {
  background: linear-gradient(circle, transparent 75%, #524336);
  position: absolute;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
}

#contact-content {
  padding: 20px 20px 0 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-content h1 {
  font-family: 'EB Garamond', serif;
  font-size: 3.6rem;
  color: #D9C6A3;
  text-transform: uppercase;
  text-shadow: 0px 2px #2b2c36;
}

#contact-img img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px dotted #D9C6A3;
  border-bottom: 5px solid #D9C6A3;
}

#flags-container {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.flags-btn img {
  height: 25px;
  width: 40px;
  border-radius: 4px;
}

#contact-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.icons img {
  height: 30px;
  width: auto;
  transition: transform 0.2s ease;
  filter: invert(100%);
}

.icons img:hover {
  transform: scale(1.5);
  filter: invert(89%) sepia(81%) saturate(491%) hue-rotate(329deg) brightness(104%) contrast(103%);
  mix-blend-mode: hard-light;
  opacity: .7;
}

/* === 7. SECTION CV / CONTENU PRINCIPAL === */
#cv-container {
  position: relative;
  background-color: #4A4E69;
  padding: 5px;
  z-index: 0;
  min-height: 120px;
  padding-bottom: 120px;
  margin-top: -37px;
}

#cv-pattern {
  background-image: url('/images/pattern.svg');
  background-repeat: repeat;
  mix-blend-mode: multiply;
  opacity: .25;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: cvpan 300s linear infinite;
  z-index: 0;
}

#cv-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  flex-wrap: wrap;
  text-align: left;
  background-color: transparent;
  padding: 0px 50px 5px 50px;
  min-height: 50vh;
}

#cv-content p {
  margin-top: 8px;
  text-align: justify;
}

#cv-content h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #D9C6A3;
  margin-top: 20px;
}

#cv-content::before {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 7.2rem;
  color: #D9C6A3;
  position: absolute;
  top: 0;
  left: 0;
  content: "“";
}

#cv-content::after {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 7.2rem;
  color: #D9C6A3;
  position: absolute;
  bottom: -25px;
  right: 0;
  content: "”";
}

.comp-container {
  width: 90%;
  padding: 10px;
  border: 3px #2b2c36 solid;
  margin: 10px auto;
  background-color: #F5F0E1;
}

.comp-container h3 {
  color: #8B2C2A;
}

.comp-container p {
  color: #2B2C36;
}

.competenceatout {
  width: 40%;
}

.flexcompt {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  width: 80%;
}

.tools-container{
  display: flex;
  justify-content: space-between;
}
.tools{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.toolsimg, .toolsimg img {
  margin: 0;
  padding: 0;
}
.toolsimg img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.toolsimg a {
  text-decoration: none;
  color: #3E9CCC;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  transition: transform 0.5 ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.toolsimg a:hover{
    color: #ea413e;
    transform: scale(1.05);
}
#cv-language .toolsimg {
  margin: 0;
  padding: 0;
}
#cv-language .toolsimg img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
#cv-language .tools{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
}
/* === 8. Animations & Accessibilité === */
@keyframes pan {
  from { background-position: 0 0; }
  to   { background-position: 199% 0; }
}

@keyframes cvpan {
  from { background-position: 199% 0; }
  to   { background-position: 0% 0; }
}

@media (prefer-reduced-motion) {
  .animation-slide {
    transition: none;
  }
}

/* === 9. Réactivité Mobile (max-width: 450px) === */
@media (max-width: 450px) {
  #custom-cursor {
    display: none;
  }
  #contact-container {
    height: 350px;
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 93%,
      95.83% 90%, 91.66% 93%, 87.5% 90%,
      83.33% 93%, 79.16% 90%, 75% 93%,
      70.83% 90%, 66.66% 93%, 62.5% 90%,
      58.33% 93%, 54.16% 90%, 50% 93%,
      45.83% 90%, 41.66% 93%, 37.5% 90%,
      33.33% 93%, 29.16% 90%, 25% 93%,
      20.83% 90%, 16.66% 93%, 12.5% 90%,
      8.33% 93%, 4.16% 90%, 0% 93%
    );
  }
  #contact-pattern {
    animation: pan 40s linear infinite;
  }
  #cv-pattern {
    animation: cvpan 50s linear infinite;
  }
  #cv-content{
    width: 98%;
  }
  .hidden-on-mobile {
    display: none;
  }
  .hidden-on-desktop {
    display: block;
  }
  .subh2 {
    justify-content: left;
  }
  #cv-container {
    padding-bottom: 250px;
  }
  #cv-content h2 {
    font-size: 2.4rem;
    margin-top: 5px;
  }
  .tools-container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
  }
}